<header>
  <!-- Thanh trên cùng với thông tin liên hệ -->
  <div class="top-bar bg-orange text-white">
    <div class="container-fluid">
      <div class="row align-items-center py-1">
        <div class="col-md-4">
          <a href="#" class="text-white">Tuyển dụng</a> |
          <a href="#" class="text-white">Tìm 650+ cửa hàng</a>
        </div>
        <div class="col-md-4 text-center">
          <a href="tel:0986777514" class="text-white"
            >0986777514 - 1900636605</a
          >
          Mua hàng & CSKH
        </div>
        <div class="col-md-4 text-end">
          <a href="#" class="text-white">Khu vực: Chọn khu vực</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Logo, thanh tìm kiếm và các chức năng -->
  <nav class="navbar navbar-light bg-white py-3">
    <div class="container-fluid">
      <div class="row w-100 align-items-center">
        <!-- Cột logo -->
        <div class="col-md-2">
          <a class="navbar-brand" href="#">
            <img
              src="/customer/assets/img/FPT_Polytechnic.png"
              alt="Logo"
              class="d-inline-block align-top img-size-x"
            />
          </a>
        </div>

        <!-- Cột thanh tìm kiếm -->
        <div class="col-md-6">
          <form class="form-inline w-100">
            <div class="input-group">
              <input
                class="form-control"
                type="search"
                placeholder="Tìm kiếm..."
                aria-label="Search"
              />
              <div class="input-group-append">
                <button class="btn btn-orange" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>

        <!-- Cột theo dõi đơn hàng, tài khoản, giỏ hàng -->
        <div class="col-md-4 d-flex justify-content-end">
          <ul class="navbar-nav flex-row">
            <li class="nav-item mr-3">
              <a class="nav-link text-orange" href="#">
                <i class="fa fa-file-alt"></i> Theo dõi đơn hàng
              </a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link text-orange" href="#">
                <i class="fa fa-user"></i> Tài khoản của bạn
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-orange" href="#">
                <i class="fa fa-shopping-cart"></i> Giỏ hàng
                <span class="badge bg-orange">0</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- Menu dưới với các danh mục -->
  <nav class="navbar navbar-expand-lg navbar-light bg-orange">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Gợi ý ba mẹ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Sữa cho mọi nhà</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Thực phẩm dinh dưỡng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Tã & Bỉm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Đồ dùng mẹ & bé</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Hệ thống cửa hàng</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Tin tức</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
