<div ng-controller="ProductController">
    <div class="mt-4" id="homeSanPham">
        <h4 class="text-center">Sản phẩm HOT</h4>
        <p class="text-center">Sản Phẩm Được Bán Chạy Nhất 2024</p>
        <div class="row">
            <div class="col-md-3 product-card mb-4 d-flex" ng-repeat="product in products">
                <div class="card flex-fill">
                    <img ng-src="{{ product.imageUrl || 'https://cdn1.concung.com/2023/03/57728-98751-large_mobile/vinamilk-optimum-gold-4-850g-2-6-tuoi.png' }}"
                        class="card-img-top" alt="error">
                    <div class="card-body d-flex flex-column">
                        <h6 class="card-title">
                            <a href="" style="text-decoration: none">
                                {{ product.packagingunitname}}
                                {{ product.milkbrandname}}
                                {{ product.milkTypename}}
                                {{product.milktastename}}
                                {{product.sizename}}
                                {{ product.capacity}}
                                {{ product.unit}}
                                {{product.targetName}}
                            </a>
                        </h6>
                        <p class="card-price text-danger "><strong>Giá:</strong> {{ product.price }} VNĐ</p>
                        <div class="mt-auto"> <!-- Đảm bảo nút "Thêm vào giỏ" luôn ở dưới cùng -->
                            <a href="#" class="btn btn-primary">Thêm vào giỏ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Phần phân trang -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item" ng-class="{ disabled: currentPage === 1 }">
                    <a class="page-link" href="#" aria-label="Previous" ng-click="changePage(currentPage - 1)"
                        ng-disabled="currentPage === 1">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" ng-repeat="page in [].constructor(totalPages) track by $index">
                    <a class="page-link" href="#" ng-click="changePage($index + 1)">{{ $index + 1 }}</a>
                </li>
                <li class="page-item" ng-class="{ disabled: currentPage === totalPages }">
                    <a class="page-link" href="#" aria-label="Next" ng-click="changePage(currentPage + 1)"
                        ng-disabled="currentPage === totalPages">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>