<div class="body-login">
    <div class="container-form">
        <div class="form" ng-controller="RegisterController">
            <header>Signup</header>
            <form action="#">
                <input type="text" placeholder="Enter your username" ng-model="user.username" required>
                <input type="text" placeholder="Enter your fullname" ng-model="user.fullname" required>
                <input type="email" placeholder="Enter your email" ng-model="user.email" required>
                <input type="password" placeholder="Create a password" ng-model="user.password" required>
                <input type="password" placeholder="Confirm your password" ng-model="confirmpassword" required>
                <div ng-if="errorMessage" class="alert alert-danger mt-2">{{ errorMessage }}</div>
                <input type="button" class="button" value="Signup" ng-click="register()">
            </form>
            <div class="signup">
                <span class="signup">Already have an account?
                    <label for="check"><a ng-href="#/login">Login</a></label>
                </span>
            </div>
        </div>
    </div>
</div>