<footer class="bg-dark text-white mt-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>Về Chúng Tôi</h5>
                <p>Chúng tôi là cửa hàng trực tuyến cung cấp các sản phẩm tốt nhất với giá cả hợp lý.</p>
            </div>
            <div class="col-md-4">
                <h5>Liên Hệ</h5>
                <ul class="list-unstyled">
                    <li>Email: info@shop.com</li>
                    <li>Điện thoại: +123 456 7890</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Theo Dõi Chúng Tôi</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://www.facebook.com/basil2k4" class="text-white">Facebook</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white">Twitter</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white">Instagram</a></li>
                </ul>
            </div>
        </div>
       
    </div>
</footer>