<!-- Cột bên trái: Slider bar và các ô lọc -->
<div class="col-md-2">
    <!-- <h4>Sưax</h4> -->
    <!-- Slider bar -->
    <!-- <div class="mb-3">
        <label for="priceSelect">Giá:</label>
        <select class="form-select" id="priceSelect">
            <option value="0">0</option>
            <option value="20">20</option>
            <option value="40">40</option>
            <option value="60">60</option>
            <option value="80">80</option>
            <option value="100">100</option>
        </select>
    </div> -->

    <div>
        <h5>Chọn loại sản phẩm</h5>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="filter1">
            <label class="form-check-label" for="filter1">Sản phẩm A</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="filter2">
            <label class="form-check-label" for="filter2">Sản phẩm B</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="filter3">
            <label class="form-check-label" for="filter3">Sản phẩm C</label>
        </div>
    </div>
</div>
