<div ng-controller="MenuBarController">
    <div class="row mt-4">
        <!-- Cột bên trái: Slider bar và các ô lọc -->
        <div class="col-md-3">
            <h6>Chọn loại sản phẩm</h6>
            <div class="mb-3">
                <label for="productSelect">Chọn sản phẩm:</label><br>
                <select class="form-select custom-select" id="productSelect" ng-model="selectedMilkType">
                    <option value="">Chọn loại sản phẩm</option>
                    <option ng-repeat="type in milkTypes" value="{{ type.id }}">{{type.milkTypename}}</option>
                </select>
            </div>
        </div>

        <!-- Lọc theo giá -->
        <div class="col-md-3">
            <h6>Lọc theo giá</h6>
            <div class="mb-3">
                <label for="priceSelect">Chọn khoảng giá:</label><br>
                <select class="form-select custom-select" id="priceSelect" ng-model="selectedPriceRange">
                    <option value="" selected>Chọn Khoảng Giá</option>
                    <option value="0">100,000 - 200,000</option>
                    <option value="1">200,000 - 300,000</option>
                    <option value="2">Trên 300,000</option>
                </select>
            </div>
        </div>

        <!-- Lọc theo hãng sữa -->
        <div class="col-md-3">
            <h6>Chọn hãng sữa</h6>
            <div class="mb-3">
                <label for="brandSelect">Chọn hãng:</label><br>
                <select class="form-select custom-select" id="brandSelect" ng-model="selectedMilkBrand">
                    <option value="">Chọn hãng sữa</option>
                    <option ng-repeat="brand in milkBrands" value="{{ brand.id }}">{{brand.milkbrandname}}</option>
                </select>
            </div>
        </div>

        <!-- Lọc theo đối tượng sử dụng -->
        <div class="col-md-3">
            <h6>Đối tượng sử dụng</h6>
            <div class="mb-3">
                <label for="userSelect">Chọn đối tượng:</label><br>
                <select class="form-select custom-select" id="userSelect" ng-model="selectedTargetUser">
                    <option value="">Chọn đối tượng sử dụng</option>
                    <option ng-repeat="user in targetUsers" value="{{ user.id }}">{{ user.targetuser }}</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Dòng nút tìm kiếm -->
    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <button type="button" class="btn btn-primary" ng-click="search()">
                <i class="fa-solid fa-magnifying-glass"></i>Tìm kiếm
            </button>
        </div>
    </div>
</div>