 <!DOCTYPE html>
  <html
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
  >
  <body>
  <div th:fragment="menu">
  <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="/images/avts.jpg" width="50px"
                                      alt="User Image">
    <div>
      <p class="app-sidebar__user-name"><b>HTM_TEAM</b></p>
      <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
      <p class="app-sidebar__user-role">Vai trò: <span>Admin</span></p>
    </div>

  </div>
  <hr>
  <ul class="app-menu">
    <li><a class="app-menu__item haha" th:href="@{/May-Ban-Hang}"><i class='app-menu__icon bx bx-cart-alt'></i>
      <span class="app-menu__label">POS Bán Hàng</span></a></li>
    <li><a class="app-menu__item active" th:href="@{/home}"><i class='app-menu__icon bx bx-tachometer'></i><span
            class="app-menu__label">Bảng điều khiển</span></a></li>
    <li><a class="app-menu__item " th:href="@{/Quan-Ly-Nguoi-Dung}"><i class='app-menu__icon bx bx-id-card'></i> <span
            class="app-menu__label">Quản lý người dùng</span></a></li>
    <li><a class="app-menu__item" th:href="@{table-data-product}"><i
            class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Quản lý sản phẩm</span></a>
    </li>
    <li><a class="app-menu__item" th:href="@{table-data-oder}"><i class='app-menu__icon bx bx-task'></i><span
            class="app-menu__label">Quản lý đơn hàng</span></a></li>
<!--    <li><a class="app-menu__item" th:href="@{table-data-banned}"><i class='app-menu__icon bx bx-run'></i><span-->
<!--            class="app-menu__label">Quản lý nội bộ-->
<!--          </span></a></li>-->
<!--    <li><a class="app-menu__item" th:href="@{table-data-money}"><i class='app-menu__icon bx bx-dollar'></i><span-->
<!--            class="app-menu__label">Bảng kê lương</span></a></li>-->
    <li><a class="app-menu__item" th:href="@{quan-ly-bao-cao}"><i
            class='app-menu__icon bx bx-pie-chart-alt-2'></i><span class="app-menu__label">Báo cáo doanh thu</span></a>
    </li>
<!--    <li><a class="app-menu__item" href="page-calendar.html"><i class='app-menu__icon bx bx-calendar-check'></i><span-->
<!--            class="app-menu__label">Lịch công tác </span></a></li>-->
    <li><a class="app-menu__item" th:href="@{Cai-Dat-He-Thong}"><i class='app-menu__icon bx bx-cog'></i><span class="app-menu__label">Cài
            đặt hệ thống</span></a></li>
  </ul>
  </div>
  </body>
 </html>